@using EntityLayer;
@model List<Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h1>ÜRÜN LİSTESİ</h1>
<div><a asp-action="Ekle" asp-controller="Admin" class="btn btn-primary">Ürün ekle</a></div>
<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Default Table</h5>

                    <!-- Default Table -->
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Ürün ID</th>
                                <th scope="col">Ürün Adı</th>
                                <th scope="col">Ürün Fiyatı </th>
                                <th scope="col">Ürün Fotoğraf URL</th>
                                <th scope="col">İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var a in Model)
                            {
                                <tr>
                                    <td>@a.product_Id</td>
                                    <td>@a.product_Name</td>
                                    <td>@a.product_Price</td>
                                    <td>@a.product_Stock</td>
                                    <td>
                                        <a onclick="return confirm('Silmek istediğinize eminmisiniz?');" asp-controller="Admin" asp-action="Sil" asp-route-id="@a.product_Id" class="btn btn-danger">sil</a>

                                        <a asp-controller="Admin" asp-action="Guncelle" asp-route-id="@a.product_Id" class="btn btn-warning">Güncelle</a>
                                    </td>
                                    <td>
                                    </td>


                                </tr>
                            }
                            
                        </tbody>
                    </table>
                    <!-- End Default Table Example -->
                </div>
            </div>

        </div>

    </div>
</section>

